<h2>Appointments</h2>

<h2><%= @customer.customer_name.titleize() %>'s scheduled appointments</h2>

  <ul>
    <%= @customer.animals.each do |animal| %>
      <li><%= animal.animal_name %>  Breed: <%= animal.breed %></li>
    <% end %>
  </ul>

<a href="/">Return to Main Page</a>
